* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 3fr;
  gap: 1px;
  min-height: 100vh;
}

.header,
.nav,
.sidebar,
.main-content {
  border: 1px black solid
}

.header {
  grid-column: 2 / 4;
}

.nav {
  grid-row: 1 / 3;
}